/* Use your own code or past solution for Great Idea Web Page CSS here! */

* {
    box-sizing: border-box;
}
/* Reset */
html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.body{
	max-width: 880px;
	margin: 0 auto;
}

.navigation{
	width: 900px;
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
}

header{
	display:flex;
	justify-content: space-between;
}
header nav{
	display:flex;
	width: 62%;
    margin-left: 4%;
	justify-content: space-around;
}

.lightbulb{
	margin-right:9%;
}
header nav a{
	color: lightslategrey;
}

.top{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 7%;
    padding-bottom:2%;
    width:89%;
    border-bottom: 1px solid black;
}


.top .left-text{
	display:flex;
	justify-content:center;
	width: 48%;
	flex-flow:column;
	align-items: center;
	font-size:70px;
	letter-spacing: 5px;
}

h1{
	font-size: 77px;
	text-align:center;
}


hr{
	border: 1px solid grey;
	display:flex;
}


.middle{
	display: flex;
	justify-content: space-around;
	padding: 3%;
    padding-right: 11%;
}

.Features{
    width: 36.5%;
    text-align: left;
}

.About{
    width: 34%;
    text-align: left;
}

.middle-img{
	width: 90%;
    display: flex;
    padding-left: 8%;
}

.bottom{
	display:flex;
	justify-content:space-evenly;
	width: 89%;
    margin-left: 7%;
	margin-top: 2%;
    margin-bottom: 4%;
    border-bottom: 1px solid black;
}

.Services{
	text-align:left;
	width: 30%;
}

.Product{
	text-align:left;
  	width:30%;
}

.Vision{
	text-align:left;
  	width:30%;
}


.Contact{
padding: 2% 0 6% 6%;
margin-left: 3%;
}

footer{
	text-align: center;	
}

/* Tablet View */
@media(max-width:800px){
    .Desktop{
        display:none;
    }
    .left-text{
        text-align:center;
    }
    .lightbulb{
        display:none;
    }
}





/* Mobile View */

@media(max-width:500px){
    header nav{
        display:flex;
        justify-content: center;
        align-items:center;
        flex-direction: column-reverse;
        color: slategrey;
        }     
    
    .top{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
    }

    .lightbulb{
        display:flex;
        width:30%;
        margin-right:0;
    }

    header{
        display:flex;
        flex-direction:column-reverse;
        align-items:center;
    }

    .circleimg{
        display:none;
    }

    .middle{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }

    .bottom{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}

@media(min-width:800px){
 }

}

